<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager>

    

    <ion-slide >
      <img src="/assets/3.jpg"/>
      </ion-slide>
    
    <ion-slide >
      <img src="/assets/4.jpg"/>
      
    </ion-slide>
    
    <ion-slide >
      <img src="/assets/m.jpg"/>
    </ion-slide>

     
    <ion-slide >
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9gTw2EDkaDQ" title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ion-slide>


    
    <ion-slide >
      <audio controls>
      <source src="/assets/1.mp3" type="audio/ogg">
      </audio>
    
    </ion-slide>

    
      
    
    </ion-slides>
    
    

</ion-content>
